[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
pyjstat = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]
pylint = "*"
coverage = "*"

[requires]
python_version = "3.12"
